<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.radioline.master.myapplication"
    android:installLocation="auto" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />

    <permission
        android:name="com.radioline.master.rlprice.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.radioline.master.rlprice.permission.C2D_MESSAGE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".FirstGroupActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.radioline.master.myapplication.LoginActivity" />
        </activity>
        <activity
            android:name=".SecondGroupActivity"
            android:label="@string/title_activity_second_group"
            android:parentActivityName=".FirstGroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.radioline.master.myapplication.FirstGroupActivity" />
        </activity>
        <activity
            android:name=".ItemActivity"
            android:label="@string/title_activity_item"
            android:parentActivityName=".SecondGroupActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.radioline.master.myapplication.SecondGroupActivity" />
        </activity>
        <activity
            android:name=".PicActivity"
            android:label="@string/title_activity_pic"
            android:parentActivityName=".ItemActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.radioline.master.myapplication.ItemActivity" />
        </activity>
        <activity
            android:name=".ScanActivity"
            android:icon="@drawable/ic_barcode"
            android:label="@string/title_activity_scan" />
        <activity
            android:name=".BasketActivity"
            android:label="@string/title_activity_basket" />
        <activity
            android:name=".DispatchActivity"
            android:icon="@drawable/ic_send"
            android:label="@string/title_activity_dispatch"
            android:parentActivityName=".BasketActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.radioline.master.myapplication.BasketActivity" />
        </activity>
        <activity
            android:name=".SearchActivity"
            android:icon="@drawable/ic_search"
            android:label="@string/title_activity_search" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name="com.parse.PushService" />

        <receiver android:name="com.parse.ParseBroadcastReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
//  Добавил 2015/08/16
        <receiver
            android:name="com.parse.ParsePushBroadcastReceiver"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.parse.push.intent.RECEIVE" />
                <action android:name="com.parse.push.intent.DELETE" />
                <action android:name="com.parse.push.intent.OPEN" />
            </intent-filter>
        </receiver>
//
        <receiver
            android:name="com.parse.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <action android:name="com.google.android.c2dm.intent.REGISTRATION" />

                <category android:name="com.radioline.master.rlprice" />
            </intent-filter>
        </receiver>

        <!-- <receiver -->
        <!-- android:name="com.radioline.master.basic.Receiver" -->
        <!-- android:exported="false"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="com.parse.push.intent.RECEIVE" /> -->
        <!-- <action android:name="com.parse.push.intent.OPEN" /> -->
        <!-- <action android:name="com.parse.push.intent.DELETE" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!--
             Optionally, register AnalyticsReceiver and AnalyticsService to support background
             dispatching on non-Google Play devices
        -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true" >
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>

        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!--
             Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
             installation campaign reporting
        -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>

        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />

        <meta-data
            android:name="com.parse.push.notification_icon"
            android:resource="@drawable/logo1" />

        <activity
            android:name=".DefaultActivity"
            android:label="@string/title_activity_default" >
        </activity>
    </application>

</manifest>
